@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap");
html {
  width: 100%;
  height: 100vh;
  background: var(--lightBg);
  --lightBtn: #A51D37;
  --lightBg: #e6e6e6;
  --lightColor: #232323;
  --lightimg: url(../images/shapes.svg);
  --light_head_bg: #CEC4AB;
  --light_title_color:#1F2F5F;
  --light_red:#A51D37; }

html[data-theme='dark'] {
  background: var(--lightBg);
  --lightBtn: #A51D37;
  --lightBg: #494949;
  --lightColor: #fff;
  --lightimg: url(../images/gradient.svg);
  --light_head_bg: #605B52;
  --light_title_color:#74c4d6;
  --light_red:#ccc; }

body {
  background: var(--lightBg); }

img {
  max-width: 100%; }

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 40px; }

.column {
  flex-basis: 100%;
  padding: 10px 10px 10px 10px;
  text-align: center; }

@media screen and (min-width: 200px) {
  .column {
    flex: 1; } }
p {
  color: var(--lightColor); }

h1, h2, h3, h4, h5 {
  color: var(--lightColor); }

h3 {
  font-family: Roboto Slab, Tahoma;
  font-size: 1.45rem;
  font-weight: 200; }

h5 {
  font-size: 1.05rem;
  font-weight: 600;
  text-transform: uppercase; }

section {
  color: var(--lightColor); }

div.foot {
  max-top: 32px;
  margin-top: 24px; }

.switch {
  display: inline-block;
  width: 60px;
  height: 34px;
  position: relative; }
  .switch .checkbox {
    opacity: 0;
    width: 0;
    height: 0; }
  .switch .checkbox:checked + .switch::after {
    left: 20px; }
  .switch .checkbox:checked + .switch {
    background-color: #7983ff; }
  .switch .checkbox {
    display: none; }
  .switch .checkbox:checked + .toggle-thumb:before {
    transform: translateX(26px); }
  .switch .toggle-thumb {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #475569;
    border-radius: 40px;
    cursor: pointer; }
    .switch .toggle-thumb:before {
      content: "";
      height: 26px;
      width: 26px;
      position: absolute;
      left: 4px;
      bottom: 4px;
      border-radius: 50%;
      background-color: #E2E8F0;
      transition: .4s all ease; }

.ph_silent {
  border-radius: 0rem;
  margin-bottom: 0rem;
  background: #000;
  border: 0px;
  color: #fff; }
  .ph_silent svg {
    margin-right: .5rem; }
  .ph_silent strong {
    font-size: .9rem; }
  .ph_silent a.close {
    padding: 0.4rem 0.6rem;
    margin: 12px;
    background: #fff;
    color: #A51D37;
    opacity: 1;
    border-radius: .4rem;
    margin-top: .4rem; }

a {
  color: var(--light_title_color); }

.navbar.cnav {
  background: #1F2F5F;
  color: #fff; }
  .navbar.cnav.padded {
    top: 50px; }
  .navbar.cnav .navbar-brand {
    color: #fff; }
  .navbar.cnav button.navbar-toggler {
    border-color: #fff; }

.headline {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: Roboto Slab, Tahoma;
  color: var(--light_title_color); }
  .headline .dot {
    height: 7px;
    color: var(--light_title_color);
    width: 7px;
    background-color: var(--light_title_color);
    border-radius: 50%;
    display: inline-block;
    margin: 3px; }
  .headline .htext {
    font-size: 2rem; }

section.centered {
  text-align: center; }
section.ads {
  margin-top: 24px; }
  section.ads .col-12, section.ads .col-md-12 {
    padding: 0px !important; }
section.welcome {
  background-size: cover;
  border-radius: 0px;
  /*arrow downs*/ }
  section.welcome img {
    margin-top: 60px;
    max-width: 100%; }
  section.welcome .jumbotron {
    background-color: var(--light_head_bg); }
  section.welcome .sc-down {
    padding-top: 50px; }
section.sponsors {
  background: #fff;
  margin-top: -50px; }
section.info {
  background: #fff;
  margin-top: -50px; }

div.note img.portrait {
  float: right;
  border-radius: 10%;
  margin-left: 10px; }
div.bio img.portrait {
  float: right;
  border-radius: 10%;
  margin-left: 10px; }
div.bio div.position h3 {
  color: #A51D37;
  color: var(--light_red);
  font-family: Roboto Slab, Tahoma;
  font-size: 1.55rem; }
div.bio div.position hr {
  background: var(--light_red); }
div.text-area {
  text-align: left; }
  div.text-area.centered {
    text-align: center; }
