@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap');

$primary:#1F2F5F;
$secondary:#A51D37;
$white:#fff;
$black:#000;
$alt_title:#74c4d6;
$grey:#ccc;

html {
  ///default styles
  width: 100%;
  height: 100vh;
  background: var(--lightBg);
	//light colors
  --lightBtn: #{$secondary};
  --lightBg: #e6e6e6;//general background
  --lightColor: #232323;
  --lightimg: url(../images/shapes.svg);
  --light_head_bg: #CEC4AB;//title_page background
  --light_title_color:#{$primary};
  --light_red:#{$secondary}; //red title with lines
}
html[data-theme='dark'] {
  ///dark styles
   background: var(--lightBg);
  --lightBtn: #A51D37;
  --lightBg: #494949;
  --lightColor: #fff;
  --lightimg: url(../images/gradient.svg);
  --light_head_bg: #605B52;
  --light_title_color:#{$alt_title};
  --light_red:#{$grey};
}
body{
	 background: var(--lightBg);
}

img{
	max-width:100%;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
	text-align: center;
}
.columns > .column  {
    flex: 1 1 30%; /*grow | shrink | basis */
    height: 180px;
	
}



@media (max-width: 400px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}


//global styles for text
p{
	 color: var(--lightColor);
}

h1,h2,h3,h4,h5{
	 color: var(--lightColor);
}


h3{
	font-family: Roboto Slab, Tahoma;
	font-size: 1.45rem;
	font-weight: 200;
	
}
h5{
	font-size: 1.05rem;
	font-weight: 600;
	text-transform: uppercase
}

section{
color: var(--lightColor);	
}

div.foot{
	max-top:32px;
	margin-top: 24px;
}

.switch {
    display: inline-block;
    width: 60px;
    height: 34px;
    position: relative;
	.checkbox {
	  opacity: 0;
	  width: 0;
	  height: 0;
	}

	.checkbox:checked + .switch::after {
	  left : 20px;
	}
	.checkbox:checked + .switch {
	  background-color: #7983ff;
	}
	.checkbox {
	  display : none;
	}
	.checkbox:checked + .toggle-thumb:before {
      transform: translateX(26px);
    }

	.toggle-thumb {
		&:before{
			content: "";
			height: 26px;
			width: 26px;
			position: absolute;
			left: 4px;
			bottom: 4px;
			border-radius: 50%;
			background-color: #E2E8F0;
			transition: .4s all ease;
		}
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #475569;
		border-radius: 40px;
		cursor: pointer;
	}

}




//silence phone dialog
.ph_silent{
    border-radius: 0rem;
	margin-bottom: 0rem;
	background: $black;
	border:0px;
	color:$white;
	svg{
		margin-right:.5rem;
	}
	strong{
		font-size:.9rem;
	}
	a.close{
		padding: 0.4rem 0.6rem;
		margin:12px;
		background: $white;
		color:$secondary;
		opacity:1;
		border-radius:.4rem;
		margin-top: .4rem;
	}
}
//links
a{
	color: var(--light_title_color);
}

//headline
.navbar.cnav{
	&.padded{
		top:50px;
	}
	background: $primary;
	color:$white;
	.navbar-brand{
		color:$white;
	}

	button.navbar-toggler{
		border-color:$white;
	}
}
//headline style
.headline{
	//header dots
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;
	font-family: Roboto Slab, Tahoma;
	color: var(--light_title_color);
	.dot {
	  height: 7px;
	  color:var(--light_title_color);
	  width: 7px;
	  background-color: var(--light_title_color);
	  border-radius: 50%;
	  display: inline-block;
	  margin:3px;
	}

	.htext {
		font-size: 2rem;
	}
}


.hr5 {
  border: 0;
  border-top: medium double #CCC;
  height: 12px;
  overflow: visible;
  padding: 0;
  color: $primary;
  text-align: center;
	&:after{
	  content: "...";
	  display: inline-block;
	  position: relative;
	  top: -0.7em;
	  font-size: 11.4em;
	  padding: 0 1em;		
	}
}



/////////////////
//section styles
/////////////////
section{

	&.centered{
		text-align: center;
	}
	&.ads{
		margin-top:24px;
	
		.col-12,.col-md-12{
			padding: 0px !important;
		}
	}
	&.welcome{
		background-size: cover;
		border-radius:0px;
		img{
			//max-width: 80%;
			margin-top: 60px;
			max-width: 100%;
		}

		.jumbotron{
			background-color: var(--light_head_bg);
		}

		/*arrow downs*/
		.sc-down{
			padding-top: 50px;

		}
}

	&.sponsors{
		background:$white;
		margin-top: -50px;

	}
	&.info{
		background:$white;
		margin-top: -50px;
		color:$black;
	}


}


/////////////////
// sub-section styles
/////////////////

div{
	&.note{
		img.portrait {
			float:right;
			border-radius: 10%;
			margin-left: 10px;
			}
		
		
	}
	&.bio{
		img.portrait{
			float:right;
			border-radius: 10%;
			margin-left: 10px;
		}
		div.position{
			//title with lines
			h3{
				color:$secondary;
				color: var(--light_red);
				font-family:Roboto Slab, Tahoma;
				font-size: 1.55rem;
			}			
			hr{
				background:var(--light_red);
			}
		}
	}
	&.text-area{
		text-align: left;
		&.centered{
			text-align: center;
		}	
	}
}
